.container-fluid {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navbar-nav{
    font-family: sans-serif;
    font-size: 16px;
}

.nav-link{
    margin-left: 20px;
}

.form-control{
    font-family: sans-serif;
    font-size: 16px;
}
.d-flex{
    margin-right: 20px;
}

.main-head{
    margin-top: 20vh;
    margin-left: 25%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    font-weight: 600;
	text-align: left;
    color: rgb(47, 47, 47);
}

.typewriter{
    font-size: 40px;
    color: rgb(114, 114, 163);
    font-family: Arial, Helvetica, sans-serif;
}

/* Typewriter effect 1 */
@keyframes typing {
    0.0000%, 27.3488% { content: ""; }
    1.1395%, 26.2093% { content: "M"; }
    2.2791%, 25.0698% { content: "Me"; }
    3.4186%, 23.9302% { content: "Met"; }
    4.5581%, 22.7907% { content: "Meta"; }
    5.6977%, 21.6512% { content: "Metav"; }
    6.8372%, 20.5116% { content: "Metave"; }
    7.9767%, 19.3721% { content: "Metaver"; }
    9.1163%, 18.2326% { content: "Metavers"; }
    10.2558%, 17.0930% { content: "Metaverse"; }
  
    30.7674%, 51.2791% { content: ""; }
    31.9070%, 50.1395% { content: "W"; }
    33.0465%, 49.0000% { content: "We"; }
    34.1860%, 47.8605% { content: "Web"; }
    35.3256%, 46.7209% { content: "Web "; }
    36.4651%, 45.5814% { content: "Web 3"; }
    37.6047%, 44.4419% { content: "Web 3.0"; }
  
    54.6977%, 75.2093% { content: ""; }
    55.8372%, 74.0698% { content: "B"; }
    56.9767%, 72.9302% { content: "Bl"; }
    58.1163%, 71.7907% { content: "Blo"; }
    59.2558%, 70.6512% { content: "Bloc"; }
    60.3953%, 69.5116% { content: "Block"; }
    61.5349%, 69.3721% { content: "Blockc"; }
    62.6745%, 69.3721% { content: "Blockch"; }
    63.8141%, 68.3721% { content: "Blockcha"; }
    64.9537%, 68.3721% { content: "Blockchai"; }
    66.0933%, 68.3721% { content: "Blockchain"; }
  }
  
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }
  
  .typewriter {
    --caret: currentcolor;
  }
  
  .typewriter::before {
    content: "";
    animation: typing 10s infinite;
  }
  
  .typewriter::after {
    content: "";
    border-right: 1px solid var(--caret);
    animation: blink 0.5s linear infinite;
  }
  
  .typewriter.thick::after {
    border-right: 1ch solid var(--caret);
  }
  
  .typewriter.nocaret::after {
    border-right: 0;
  }
  
  
  @media (prefers-reduced-motion) {
    .typewriter::after {
      animation: none;
    }
    
    @keyframes sequencePopup {
      0%, 100% { content: "metaverse"; }
      25% { content: "web 3.0"; }
      75% { content: "blockchain"; }
    }
  
    .typewriter::before {
      content: "developer";
      animation: sequencePopup 12s linear infinite;
    }
  }
  
  /**/
  /* Animation property */
.btt:hover {
    animation: wiggle 2s linear infinite;
  }
  
  /* Keyframes */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-15deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(6deg);
    }
    35% {
      transform: rotateZ(-4deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }
  
  
  .btt {
    position: fixed;
    right: 2em;
    bottom: 2em;
    
    height: 4em;
    width: 7em;
    
    background: #444;
    background: linear-gradient(top, #555, #333);
    border: none;
    border-top: 3px solid orange;
    border-radius: 0 0 0.2em 0.2em;
    color: #fff;
    font-family: Helvetica, Arial, Sans-serif;
    font-size: 1em;
    transform-origin: 50% 5em;
  }


  .main-frame img{
    height: 61vh;
    margin-top: 40px;;
  }

  .main-frame{
    text-align: center;
  }

  .main-frame p{
    font-family: sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 2vh;
    margin-left: 15vw;
    margin-right: 15vw;
    color: #555;
  }

  .img-cl{
    position: relative;
    padding-bottom: 15vh;
  }

  .eth{
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    padding-left: 110px;
    padding-top: 100px;
    margin-top: -110px;
    padding-bottom: 100px;
    display: flex;
    background-color: bisque;
    align-items: stretch;
    border-radius: 15px;
  }

  .eth h1{
    display: block;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 4em;
    margin-top: 20px;
    background-image: linear-gradient(to left, #5c566b, #2b0d48);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }

  .para p{
    font-size: 17px;
    font-family: sans-serif;
    margin-top: 21px;
    background-color: burlywood;
    border-radius: 10px;
    padding: 15px;

  }

  .para{
    margin-right: 80px;
  }

  .meta-img img{
    height: 80vh;
    margin-right: 5vw;
    margin-top: -10vh;
    filter: drop-shadow(2px 2px 2px rgb(155, 155, 155));
    animation-name: wiggle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
  }

  @keyframes wiggle{
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }

  .left-side{
    display: flex;
    flex-direction: column;
  }

  .web3{
    border-radius: 15px;
    margin: 20px;
    display: flex;
    justify-content: left;
    padding-top: 20vh;
    padding-bottom: 10vh;
    background-color: bisque;
  }
  .head-web h1{
    font-size: 4em;
  }
  .head-web{
    font-family: Helvetica, sans-serif;
    margin-top: 60px;
    margin-right: 10vw;
    background-image: linear-gradient(to left, #29223e, #4a3e54);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
  }
  .img-web img{
    height: 50vh;
    margin-top: 10vh;
    filter: drop-shadow(5px 5px 5px rgb(164, 164, 164));
    animation-name: wiggle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
  }
  .img-web{
    margin-right: -10vw;
    padding-right: 35vw;
  }

  .para-2 p{
    font-size: 16px;
    color: black;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
    border-radius: 10px;
    padding: 15px;
  }

